body{
    margin: 0;
    background-color: rgb(241, 238, 238);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.pageTop{
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}

.pageTop .topList ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    column-gap: 60px;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 40px;
    text-shadow: 0px 1px rgb(184, 182, 182)
    
}

.pageTop .topList ul li{
    width: 50px;
    
    -webkit-transition: width.35 ease-in-out;
    transition: width .35 ease-in-out;
}

.pageTop .topList ul li{
    width: 50px;
}

.pageTop .topList ul li:hover{
    font-size: 23px;
    color: bl;
    transition: .2s ease-in-out;
    
    
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.pageTop .topList ul a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    color: rgb(108, 108, 110);
    
    
}

.pageTop .heading{
    margin-left: 19px;
    
    font-weight: 500;
    color: rgb(103, 103, 173);
    font-size: 30px;
}

.intro-section {
    text-align: center;
    margin-left: 110px;
    margin-right: 180px;
    font-size: 40px;
    color: rgb(61, 61, 61);
}

.intro-section p{
    text-align: left;
    font-size: 20px;
    margin-left: 70px;
}

.myname{
    color: rgb(103, 103, 173);
}

.links ul{
    margin-top: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-right: 200px;
    cursor: pointer;
    margin-left: 150px;
   
    
}






.links ul li .resume{
    width:100px;
    height: 40px;
    border-color:rgb(151, 151, 238) ;
    color:rgb(81, 81, 150) ;
    cursor: pointer;
    position: relative;
    
    
}

.links ul li :hover{
    /* width:110px; */
    position: relative;
    bottom: 5px;
    transition: .4s ease-in-out;
    
}


.middle-container{
    margin-top: 80px;
    text-align: center;
}

.middle-container h2{
    font-size: 40px;
    color: rgb(61, 61, 61);
}

.first-two{
    display: flex;
}

.projects .first-two{
    display: flex;
    justify-content: space-around;
}
.first-two .p1{
    height:20rem;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 10px;
    box-shadow:  14px rgb(224, 223, 223);
    transition: all 300ms ease-in-out;
    
}

.first-two .p2{
    height:20rem;
    width: 60%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 14px rgb(238, 237, 237);
    transition: all 300ms ease-in-out;
    margin-right: 10px;
    
}

.first-two div h3{
    font-size: 30px;
}

.first-two div p{
    font-size: 18px;
    padding: 5px;
    padding-bottom: 30px;
}

.first-two div ul{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-right: 30px;
    cursor: pointer;
    
}

.first-two div ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-right: 30px;
    cursor: pointer;
    /* box-shadow:0px 0px blue; */
    
}

.first-two div ul li:hover{
    position: relative;
    bottom: 2px;
    /* margin-bottom: 2px; */
    box-shadow: 0px auto #ccc;
    transition: .2s left right;
}

.first-two .project3{
    height:20rem;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    box-shadow: 0px 14px rgb(238, 237, 237);
    transition: all 300ms ease-in-out;
}



.last-container{
    text-align: center;
}

.last-container .skills{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.last-container .skills ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    list-style: none;
    padding-right: 30px;
    cursor: pointer;
}

.last-container .skills h2{
    font-size: 40px;
}

.last-container .skills ul li{
    background-color:rgb(255, 251, 251);
    height: auto;
    width: auto;
    color: rgb(59, 58, 58);
    padding: 10px;
    box-shadow: 50px;
    cursor: pointer;
    box-shadow: 0px 2px rgb(214, 213, 213);
}

.last-container .skills div ul li:hover{
    background-color: #ffffff;
    padding: 15px;
    transition: .3s ease-in-out;
}

.emailMe{
    width:auto;
    height: auto;
    padding: 20px;
    border-color: rgb(137, 137, 240);
    color: rgb(137, 137, 240);
    cursor: pointer;
}

.emailMe:hover{
    padding: 25px;
    transition: .2s ease-in-out;
}

footer{
    text-align: center;
    color:rgb(112, 112, 206);
    cursor: pointer;
}



.direct{
    padding-top: 5px;
    margin-left: 5px;
    width:30px;
    height:30px
}


/* .p1:hover{
    
    height: 21rem;
    width: 65%;
}

.p2:hover{
    height: 21rem;
    width: 65%;
}

 .project3:hover{
    height: 21rem;
    width: 48%;
} */

